
.header {
    /* gap: 10px; */
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    margin: 0;
    padding: 0;
    margin-top: 5px;
    border-bottom: 1px #A6A6A6 solid;
}
#pages{
    
    display: flex;
    gap: 10px;
    justify-content: space-around;
}
.menu>path{
    stroke: white !important;
}
.modal{
    position: absolute;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    top: 60px;
    gap: 5px;
    right: 0px;
    width: 150px;
    text-align: center;
}
.modal a{
    color: white;
    text-decoration: none;
    border: gray 1px solid;
    border-radius: 123px;
}