.backDiv{
    background-color: rgba(255, 255, 255, 0.1);
    font-size: large;
    border-radius: 50px;
}
.backArrow>path{
    fill: white !important;
    width: 50px;
    height: 50px;
}
.backArrow{
    width: 25px;
    height: 25px;
}