
#main{
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    color: white;
    /* overflow: hidden; */
    height: calc(100% - 142px);
    /* margin-top: 100px; */
}
