.postCard{
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    width: min-content;
    min-width: 400px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 15px;

}
.titleBlock{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0 clamp(10px, 2vw, 30px);
    align-items: center;
    font-size: large;
}
.description{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}
.tagsBlock{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tag{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    
    
}
.LikesBlock{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    width: fit-content;
}
.footerBlock{
    gap: 10px;
    display: grid;
}
 
.img{
    max-width: 100%;
    max-height: 50%;
}