.postCard{
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.05);
    width: min-content;
    /* min-width: 400px; */
    width: 90%;
    display: flex;
    gap: 15px;
    transition: 0.2s;
    flex-direction: column;
    padding: 15px;
    text-align: left;

}
.postCard:hover:not(:has(
    .name:hover,
    .time:hover,
    .avatar:hover,
    .description:hover,
    .imageDiv:hover,
    .tag:hover,
    .LikesBlock:hover,
    .titleBlock:hover
    )) {
background-color: rgba(255, 255, 255, 0.15);

cursor: pointer;
}
.name{
    color: rgb(198, 206, 228);
}
.time{
    color: darkgray;
}
.titleBlock{
    /* background-color: rgba(255, 255, 255, 0.1); */
    border-radius: 25px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
    /* padding: 0 clamp(10px, 2vw, 30px); */
    align-items: center;
    color: white;
    font-size: large;
}
.userBlock{
    display: flex;
    gap: 5px;
}
.description{
    /* background-color: rgba(255, 255  , 255, 0.1); */
    border-radius: 15px;
    font-size: small;
    color: #a8cad4;
}

.tagsBlock{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tag{
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    
    
}
.LikesBlock{
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    width: fit-content;
}
.footerBlock{
    gap: 10px;
    display: grid;
}
 
.img{
    width: fit-content;
    height: fit-content; 
    z-index: 2;
    position: relative;
    pointer-events: none;
}
.bluredImg{
    height: fit-content; 
    width: 100%;
    position: absolute;
    object-fit: cover;
    filter: blur(100px) brightness(0.8);
    transform: scale(1.1); 
    z-index: 1;
    top: 0;
    left: auto;
    right: auto;
    
}
.imageDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
    overflow: hidden    ;
    margin: 0 auto;
    position: relative;
    border-radius: 15px;
}