.headerButton{
    width: 184px;
    height: 50px;
    padding-left: 27px;
    padding-right: 27px;
    background-color: #C3C3C3;
    border-radius: 27px;
    text-align: center;
    font-size: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}   
.headerLink {
    color:  black;
    text-decoration: none;
}