.modal{
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%); 
 position: absolute;  
 background-color: rgba(255, 255, 255, 0.15);
 border-radius: 25px;
 width: 750px;
 height: 650px ;
 z-index: 12;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px;
    border-radius: 20px;
    padding: 0 5%;
}
.border{
    border-top: 1px white solid;
    height: 5px;

}
.exit{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}
.userBlock{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
}
.button, .input{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 21px;
    color: white;
    border: 0;
    padding: 15px;
    width: 200px;
}
.textarea{
    width: 100%;
    height: 150px;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.footer{
    flex-direction: column-reverse;
    justify-content: end;
    align-items: end;
    display: flex;
    height: max-content;
    flex-grow: 1;
    padding: 20px;
}