.postList{
    display: flex;
    flex-wrap: nowrap;
    flex: 1 ;
    /* justify-content: center; */
    gap: 50px;
    /* margin-top: 1000px; */
    overflow-y: scroll;
    flex-direction: column  ;
    align-items: center;
    height: 100%;
}