#footer{
    height: 92px;
    position: fixed;
    bottom: 0px;
    border-top: 1px #A6A6A6 solid;
    width: 100%;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column  ;
}
.footerLink{
    color: white;
    text-decoration: none;
}