.headerButton{
    width: 184px;
    height: 50px;
    padding-left: 27px;
    padding-right: 27px;
    background-color: #C3C3C3;
    border-radius: 27px;
    text-align: center;
    font-size: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}   
.headerLink {
    color:  black;
    text-decoration: none;
}
.header {
    /* gap: 10px; */
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    margin: 0;
    padding: 0;

    border-bottom: 1px #A6A6A6 solid;
}
#pages{
    
    display: flex;
    gap: 10px;
    justify-content: space-around;
}