
#main{
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    color: white;
    height: calc(100% - 142px);
}
