.searchDiv{
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    width: fit-content;
    overflow: hidden;
    height: min-content;
}
.fullSearchBlock{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}
.searchInput{
    background-color: rgba(255, 255, 255, 0.05);
    padding-left: 5px;
    border: 0;
    min-height: 30px;
    color: white;
    outline: none;
}
.searchInput:active{
    outline: none;

}
.selectMenu{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    color: white;
    /* min-height: 30px; */
    padding: 8px;
} 
.menuList{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}
.searchButton{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 0;
    min-height: 30px;   
}
.option{
    background-color: rgba(0,0,0,0.9);

}
.displayError{
    background-color: rgba(255,255,255,0.1);
    color: red;
    border-radius: 25px;
    text-align: center;
    display: flex;
    padding: 10px;
    align-items: center;

}