
/* .smallEditor  */
.allCommentWriter{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.buttonSender{
  margin-top: 42px;
  background-color: rgba(255, 255, 255, 0.1 );
  color: white;
}