.smallEditor {
  /* width: 400px; */
  height: 100px;
}
/* .smallEditor  */
.allCommentWriter{
  display: flex;
  flex-direction: column;
}
.buttonSender{
  margin-top: 42px;
  background-color: rgba(255, 255, 255, 0.1 );
  color: white;
}